/* .crousel{
    background-color: black;
    color: red;
}*/
/* .navBar{
    background-color: red;
    color: black;
}  */
/* h1{
    color: rgb(229, 20, 20);
    background-color: rgb(71, 244, 8);
} */
/* h1.firstName{
    color: rgb(229, 20, 20);
    background-color: rgb(71, 244, 8);
} */
#classEnd{
    color: rgb(229, 20, 20);
    background-color: rgb(71, 244, 8);
}
